/* dist/boilerplate.hotlink.scss v1.2.2 Mon Jan 17 2022 10:42:25 GMT-0500 (Eastern Standard Time) */
/**
 * @file boilerplate.hotlink.scss
 */

/**
 * Hotlink (a button link to another slide and/or presentation).
 */
.hotlink {
  position: absolute;
  display: block;
  cursor: pointer;
}

