/* dist/boilerplate.video.scss v1.0.3 Mon Jan 17 2022 10:51:06 GMT-0500 (Eastern Standard Time) */
/**
 * @file boilerplate.video.scss
 */

/**
 * Hide video timeline bar.
 */
*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

audio::-webkit-media-controls-timeline,
video::-webkit-media-controls-timeline {
  visibility: hidden;
}

