/**
 * custom.fonts.scss
 *
 * Put your font definitions here.
 */

/*
@font-face {
  font-family: 'Avenir';
  src: url('./brand-example/fonts/Avenir-Book.woff2') format('woff2'),
    url('./brand-example/fonts/Avenir-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('./brand-example/fonts/Avenir-BookOblique.woff2') format('woff2'),
      url('./brand-example/fonts/Avenir-BookOblique.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

etc...
*/

