{% extends "layout.slide.html" %} {% set body_class = "efficacy" %} {% block
page %}

<style>
  .img--content {
    background-image: url(content2.png);
  }

  .ref-btn {
    width: 45px;
    height: 40px;
    bottom: 183px;
    right: 0;
  }

  .references-modal {
    position: absolute;
    background-image: url(ReferenceOverlays.png);
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
  }
  .references-modal .modal-button-close {
    top: 30%;
    right: 21%;
  }
</style>

<!-- Reference modal -->
<div class="references-modal">
  <a class="modal-button-close" data-modal-trigger-close></a>
</div>

<div class="img--content sprite layer"></div>
<div
  class="ref-btn sprite"
  data-modal-trigger-open
  data-modal-target=".references-modal"
></div>

{% endblock %}
