<!-- begin: modals/isi.html -->

<h2>Important Safety Information</h2>
<ul>
  <li>Important safety information line...</li>
  <li>Important safety information line...</li>
  <li>Important safety information line...</li>
  <li>Important safety information line...</li>
  <li>Important safety information line...</li>
  <li>Important safety information line...</li>
  <li>Important safety information line...</li>
</ul>
<p><strong>Please see additional Important Safety Information throughout, and the accompanying full Prescribing Information.</strong></p>

<!-- end: modals/isi.html -->
