<!-- begin: modals/references.html -->

<!-- Reference modal  -->
<div class="modal-container references-modal img--references sprite modal-hidden">
  <a class="modal-button-close" data-modal-trigger-close></a>
  <div class="references-copy">
    <h2>REFERENCES</h2>
    <ol>
      <li>Reference item. Journal; yyyy;pp-pp.</li>
      <li>Reference item. Journal; yyyy;pp-pp.</li>
      <li>Reference item. Journal; yyyy;pp-pp.</li>
      <li>Reference item. Journal; yyyy;pp-pp.</li>
      <li>Reference item. Journal; yyyy;pp-pp.</li>
      <li>Reference item. Journal; yyyy;pp-pp.</li>
      <li>Reference item. Journal; yyyy;pp-pp.</li>
    </ol>
  </div>
</div>

<!-- end: modals/references.html -->
