<!-- begin: modals/study-design-a.html -->

<!-- Study Design A modal  -->
<div class="modal-container sprite modal-hidden modal-study-design-a">
  <a class="modal-button-close" data-modal-trigger-close></a>
  <div>
    <h2>STUDY DESIGN A</h2>
    <p>Study design copy, paragraph.</p>
    <p>Study design copy, paragraph.</p>
    <p>Study design copy, paragraph.</p>
    <p>Study design copy, paragraph.</p>
    <p>Study design copy, paragraph.</p>
  </div>
</div>

<!-- end: modals/study-design-a.html -->
